{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('styles/moviesPage.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}

<div class="c-home">
    <div class="container c-home__cont">
        <div class="row">
        {% for movie in movies %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="c-home__movie ">
                    <a href="{{path('detailPage', {id: movie.id}) }}">                
                        <img class="c-home__img" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{ movie.poster_path }}" alt="{{ movie.title }}"/>
                        <h3> {{movie.title}} </h3>
                    </a>
                </div>
            </div>
    {% endfor %}
        </div>
   </div>
</div>
{% endblock %}
