{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('styles/movieDetailPage.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}

<div class="c-detail" style="background-image: url('https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces{{ movie.backdrop_path }}');">

    <div class="c-detail__box">

        <div class="c-detail__img" >
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{ movie.poster_path }}" alt="{{ movie.title }}"/>

            <div class="c-detail__title">
            <h1>{{movie.title}}</h1>
            <h2>{{movie.vote_average}}</h2>
            </div>

            <h3>Generos:</h3>

            <div class="genre">
                {% for genre in movie.genres%}
                    <p>{{genre.name}}</p>
                {% endfor %}
            </div>

            <div class="sinopsis">
                <h3>Sinopsis: </h3>
                <p>{{movie.overview}}</p>
            </div>

        </div>

        <div class="c-detail__recommendations">
        {% for recommendation in recommendations %}
            <div class="c-detail__recom">
                <a href="{{path('detailPage', {id: recommendation.id}) }}">
                    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{ recommendation.poster_path }}" alt="{{ recommendation.title }}" />
                </a>
            </div>
        {% endfor %}
        </div>

    </div> 
</div>
{% endblock %}