.c-detail{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-detail__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(128, 128, 128, 0.644);
    background-attachment: fixed;
}

.c-detail__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    color: white;
    font-weight: 700;
    margin: 4vh 0;
}

.c-detail__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 70%;
}

.genre{
    display: flex;
    flex-direction: row;
}

.genre p{
    margin: 0 0.5vw;
}

.sinopsis{
    margin: 1vh 0;
}

.c-detail__recommendations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 70%;
    height: 11vw;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.589);
    margin: 5vh 0;
}

.c-detail__recom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-size: 0.7vw;
    text-align: center;
    margin:2vh 0;
    
}
.c-detail__recom img{
    width: 5vw;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-name: out;
}

.c-detail__recom img:hover{
    -webkit-animation-fill-mode: forwards;
      animation-duration:0.8s;
      animation-name: in;
}

@keyframes out {
    0% {
      width: 6vw;
    }
    100% {
      width: 5vw;
    }
  }
  
  @keyframes in {
    0% {
      width: 5vw;
    }
    100% {
        width: 6vw;
    }
  }