.c-nav{
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: black;
}

.c-nav__home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.c-nav__img{
    width:45px;
}