<!DOCTYPE html>
<html>
 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">


        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap" rel="stylesheet">

       {% block stylesheets %}
            
        {% endblock %}
        
        <link href="{{ asset('styles/main.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('styles/nav.css') }}" type="text/css" rel="stylesheet"/>
        
        
        <title>Document</title>
        
 
        {% block javascripts %}
            
        {% endblock %}
    </head>
    
    <nav>
        <div class="c-nav">
            <div class="c-nav__home">
                <a  href="{{path('moviesPage')}}">
                    <img class="c-nav__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Popcorn.svg/1200px-Popcorn.svg.png" alt="pop corn" />
                </a>
            </div>
        </div>
    </nav>

    <body>
        
        {% block body %}{% endblock %}   
           
    </body>
    
</html>